@import "../../../common/scss/variables";

.wiki-article {
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;

  h1 {
    font-size: 32px;
  }

  p {
    color: $default-color;
    white-space: pre-line;
  }

  .powered-by {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 15px;
  }

  .article-categories {
    display: flex;
    flex-wrap: wrap;

    span {
      margin-right: 3px;
      margin-top: 3px;
    }
  }
}
