.home-page {
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .inner-container {
    text-align: center;

    img {
      max-width: 380px;
    }

    input {
      margin-right: 3px;
    }

    .search-input {
      margin-top: 3px;
    }
  }
}
