@import "../../common/scss/variables";

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;

  background-color: lighten($primary-color, 10%);

  p {
    position: absolute;
    right: 5px;
    bottom: 15px;
    font-size: 12px;

    a {
      color: white;
      &:hover {
        color: white;
      }
    }
  }

  .bars {
    display: flex;
    justify-content: flex-end;

    height: 10px;
    width: 100%;

    div {
      height: 10px;
      width: 50px;

      &:nth-child(1) {
        background-color: $danger-color;
      }
      &:nth-child(2) {
        background-color: $info-color;
      }
      &:nth-child(3) {
        background-color: $success-color;
      }
      &:nth-child(4) {
        background-color: $warning-color;
      }
    }
  }
}
